/* Colors */
$black:#000000;
$white:#FFFFFF;
// $nav:
$bg:#FFFFFF;
$primary:#0A1832;
// $secondary:#68717A;

/** Chat */
$border:#EFF2F7;

/** Size */

$p: 20px;
$m: 20px;

/** Loop variables */
$font-sizes: 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40;
$font-weights: 400 600 700;
$spacing-values: 0 5 8 10 15 20 25; // Don't use 5 bcuz, 5 will take bootstrap (1-5),
